* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* MACROAREE */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    z-index: 99;
}

aside {
    background-color: black;
    position: fixed;
    left: 0;
    top: 83px;
    color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: calc(100% - 217px);
    width: 200px;
    padding: 15px 0;
    z-index: 99;
}

.main-screen {
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 83px;
    width: calc(100% - 200px );
    height: 749.6px;
    background: rgb(30,215,96);
    background: linear-gradient(180deg, rgba(30,215,96,1) 0%, rgba(42,159,84,1) 35%, rgba(0,0,0,1) 100%);
}

.player {
    height: 134px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
}

/* FINE MACROAREE */

.spotify-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 200px;
    padding: 15px 20px;
}

.spotify-logo:hover {
    cursor: pointer;
}

.spotify-logo img {
    display: block;
    width: 53px;
    height: 100%;
}

.spotify-logo h1 {
    text-transform: capitalize;
    font-size: 32px;
}

.upgrade-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 200px;
}

.upgrade-button button {
    font-size: 12px;
    color: white;
    background-color: transparent;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

.upgrade-button button:hover {
    cursor: pointer;
    background-color: #1ed760;
    color: black;
}

.upgrade-button button:focus {
    outline: 0;
}

nav .nav-macro {
    color: lightgray;
    list-style: none;
    text-transform: capitalize;
}

nav .nav-macro a {
    color: lightgray;
    text-decoration: none;
}

nav .nav-macro li {
    padding:10px 0 0 20px;
}

nav .nav-macro li:hover {
    border-left: 2px solid #1ed760;
    color: white;
}

nav .nav-macro i {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    font-size: 23px;
}

nav .nav-macro small {
    margin-left: 15px;
}

.playlist {
    margin-top: 20px;
}

.playlist a:first-child li {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.playlist a {
    text-decoration: none;
}

.playlist a li {
    color: lightgrey;
    text-transform: capitalize;
    padding:10px 0 0 20px;
}

.playlist a li:hover {
    color: white;
}

.playlist a li i{
    font-size: 35px;
    vertical-align: middle;
}

.playlist a li small {
    margin-left: 15px;
}

.installapp-nav {
    margin: 270px auto 0 auto;
    width: 80%;
    border-bottom: 1px solid lightgrey;
    padding:10px 0;
}

.installapp-nav:hover {
    color: white;
    cursor: pointer;
}

.installapp-nav i {
    vertical-align: middle;
    margin-right: 10px;
}

.user {
    cursor: pointer;
    color: white;
    width: 80%;
    padding:20px 0 0 20px;
}

.user:hover i {
    color: #1ed760;
}

.user i {
    vertical-align: middle;
    font-size: 25px;
}

.user small {
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
}

.category-main {
    display: flex;
    flex: 0;
    justify-content: center;
    align-items: center;
}

.category-main ul {
    list-style: none;
}

.category-main ul a {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f8f8f8;
    text-decoration: none;
}

.category-main ul a li {
    float: left;
    padding: 20px;
}

.category-main ul a li:hover {
    color: black;
}

.created-for-you {
    width: 70%;
    margin: 0 auto;
}

.created-for-you h2{
    margin: 20px 0;
    font-weight: bold;
    font-size: 30px;
}

.created-for-you .song,
.created-for-you .album{
    position: relative;
    float: left;
    padding: 10px 10px;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100px;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100px;
}

.overlay .play-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay .play-overlay i {
    color: white;
    font-size: 50px;
}

.song:hover .overlay,
.album:hover .overlay{
    display: block;
}

.overlay:hover .play-overlay i{
    opacity: 1;
}

.song {
    width: calc(100% / 6);
    overflow: hidden;
}

.song img {
    border-radius: 100px;
}

.album {
    width: calc(100% / 6);
    overflow: hidden;
}

.album img {
    float: left;
    width: 50%;
    height: 50%;
}



.player-left {
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    flex: 0 0 300px;
    padding-left: 20px;
}

.player-left:hover {
    cursor: pointer;
    background: linear-gradient(to left, #282828, lightgrey);
}

.player-left:hover .ico-left i{
    color: black;
}

.player-left:hover .title-song h6{
    color: black;
}

.player-left .img-song img {
    height: 100%;
    width: 80px;
}

.title-song {
    padding-left: 20px;
    text-transform: capitalize;
    width: 100px;
}

.title-song h6:first-child {
    color: white;
}

.title-song h6{
    color: #787878;
}

.ico-left {
    margin-left: 20px;
}

.ico-left i {
    margin-left: 10px;
    color: #787878;
}

.ico-left i:hover {
    opacity: 0.8
}

.player-center {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 1000px;
}

.interaction-player {
    color: white;
    text-align: center;
    width: 500px;
    margin-bottom: 25px;
}

.interaction-player i {
    cursor: pointer;
    margin: 10px;
    font-size: 20px;
}

.interaction-player i:nth-child(3) {
    font-size: 30px;
}

.row-player {
    text-align: center;
    width: 100%
}

.row-player span {
    padding: 0 10px;
    color: white;
}

.progressive-bar-player{
    display: inline-block;
    background-color: #5a5a5a;
    width: 80%;
    height: 5px;
    margin: 4px 0;
    border-radius: 5px;
}

.progressive-line {
    background-color: #c1c1c1;
    width: 20%;
    height: 5px;
    border-radius: 5px;
}

.player-right {
    display: flex;
    align-items: center;
    flex: 0 0 300px;
}

.player-right i {
    cursor: pointer;
    color: white;
    padding: 0 15px;
}

.player-right span {
    display: inline-block;
    content: "";
    background-color: #5a5a5a;
    width: 50%;
    height: 5px;
    border-radius: 5px;
}
