* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* MACROAREE */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    z-index: 99;
}

aside {
    background-color: black;
    position: fixed;
    left: 0;
    top: 83px;
    color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: calc(100% - 217px);
    width: 200px;
    padding: 15px 0;
    z-index: 99;
}

.main-screen {
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 83px;
    width: calc(100% - 200px );
    height: calc(100% - 217px);
    background: rgb(30,215,96);
    background: linear-gradient(180deg, rgba(30,215,96,1) 0%, rgba(42,159,84,1) 50%, rgba(30,30,33,1) 100%);
}

.player {
    height: 134px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
}

/* FINE MACROAREE */

.spotify-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 200px;
    padding: 15px 20px;
}

.spotify-logo:hover {
    cursor: pointer;
}

.spotify-logo img {
    display: block;
    width: 53px;
    height: 100%;
}

.spotify-logo h1 {
    text-transform: capitalize;
    font-size: 32px;
}

.upgrade-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 200px;
}

.upgrade-button button {
    font-size: 12px;
    color: white;
    background-color: transparent;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

.upgrade-button button:hover {
    cursor: pointer;
    background-color: #1ed760;
    color: black;
}

.upgrade-button button:focus {
    outline: 0;
}

nav {
    flex-grow: 2;
}

nav .nav-macro {
    color: lightgray;
    list-style: none;
    text-transform: capitalize;
}

nav .nav-macro a {
    color: lightgray;
    text-decoration: none;
}

nav .nav-macro li {
    padding:10px 0 0 20px;
}

nav .nav-macro li:hover {
    border-left: 2px solid #1ed760;
    color: white;
}

nav .nav-macro i {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    font-size: 23px;
}

nav .nav-macro small {
    margin-left: 15px;
}

.playlist {
    margin-top: 20px;
}

.playlist a:first-child li {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.playlist a {
    text-decoration: none;
}

.playlist a li {
    color: lightgrey;
    text-transform: capitalize;
    padding:10px 0 0 20px;
}

.playlist a li:hover {
    color: white;
}

.playlist a li i{
    font-size: 35px;
    vertical-align: middle;
}

.playlist a li small {
    margin-left: 15px;
}

.installapp-nav {
    width: 80%;
    border-bottom: 1px solid lightgrey;
    padding:10px 20px;
}

.installapp-nav:hover {
    color: white;
    cursor: pointer;
}

.installapp-nav i {
    vertical-align: middle;
    margin-right: 10px;
}

.user {
    cursor: pointer;
    color: white;
    width: 80%;
    padding:20px 0 0 20px;
}

.user:hover i {
    color: #1ed760;
}

.user i {
    vertical-align: middle;
    font-size: 25px;
}

.user small {
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
}

.category-main {
    display: flex;
    flex: 0;
    justify-content: center;
    align-items: center;
}

.category-main ul {
    list-style: none;
}

.category-main ul a {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f8f8f8;
    text-decoration: none;
}

.category-main ul a li {
    float: left;
    padding: 20px;
    margin-top: 5px;
}

.category-main ul a li:hover {
    color: black;
    box-shadow: inset 0 0 10px #000000;
    border-radius: 50px;
}

.created-for-you {
    width: 70%;
    margin: 0 auto;
}

.created-for-you h2{
    margin: 20px 0;
    font-weight: bold;
    font-size: 30px;
}

.created-for-you .song,
.created-for-you .album{
    position: relative;
    padding: 10px 10px;
    cursor: pointer;
}

.songs {
    display: flex;
    flex-wrap: wrap;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 50px;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 100px;
}

.overlay .play-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay .play-overlay i {
    color: white;
    font-size: 50px;
}

.song:hover .overlay,
.album:hover .overlay{
    display: block;
    cursor: pointer;
}

.overlay:hover .play-overlay i{
    opacity: 1;
}

.song {
    width: calc(100% / 6);
    overflow: hidden;
}

.song img {
    border-radius: 100px;
}

.album {
    width: calc(100% / 6);
    overflow: hidden;
}

.album img {
    float: left;
    width: 50%;
}

.titolo {
    width: 100%;
    display: inline-block;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

#daily-mix {
    width: 100%;
}

.player-left {
    display: flex;
    align-items: center;
    flex: 0 0 100px;
    padding-left: 0px;
}

.player-left:hover {
    cursor: pointer;
}

.player-left .img-song img {
    height: 100%;
    width: 100px;
}

.title-song {
    font-size: 15px;
    padding-left: 20px;
    text-transform: capitalize;
    width: 100px;
}

.title-song h6:first-child {
    color: white;
}

.title-song h6{
    color: #787878;
}

.ico-left {
    margin-left: 5px;
}

.ico-left i {
    font-size: 15px;
    margin-left: 10px;
    color: #787878;
}

.ico-left i:hover {
    opacity: 0.8
}

.player-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 175px;
}

.interaction-player {
    color: white;
    text-align: center;
    width: 500px;
    margin-bottom: 25px;
}

.interaction-player  i {
    cursor: pointer;
    margin: 10px;
    font-size: 20px;
}

.interaction-player button i,.fa-pause{
    font-size: 25px;
}

.interaction-player button {
    font-size: 30px;
    color: white;
    background-color: transparent;
    border: 0;
}

.interaction-player button:focus {
    outline: 0;
}

.interaction-player i:hover {
    color: rgba(255, 255, 255, 0.5);
}

.row-player {
    text-align: center;
    width: 100%
}

.row-player span {
    padding: 0 10px;
    color: white;
}

.progressive-bar-player{
    display: inline-block;
    background-color: #5a5a5a;
    width: 77%;
    height: 5px;
    margin: 4px 0;
    border-radius: 5px;
}

.progressive-line {
    background-color: #c1c1c1;
    width: 20%;
    height: 5px;
    border-radius: 5px;
}

.player-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 300px;
}

.player-right i {
    cursor: pointer;
    color: white;
    padding: 0 15px;
}

.player-right span {
    display: inline-block;
    content: "";
    background-color: #5a5a5a;
    width: 30%;
    height: 5px;
    border-radius: 5px;
    margin-right: 10px;
}

/* MEDIA QUERY */

/* PHONES  */


@media all and (max-width: 768px) {

    .spotify-logo {
        display: flex;
        flex: 0 0 50px;
        padding: 0 0 0 0;
    }

    .spotify-logo img {
        display: block;
        width: 53px;
        height: 100%;
        margin: 0 auto;
    }

    .spotify-logo h1 {
        display: none;
    }

    .upgrade-button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 100px;
    }

    .upgrade-button button {
        font-size: 8px;
        color: white;
        background-color: transparent;
        text-transform: uppercase;
        padding: 5px 20px;
        border-radius: 20px;
        transition: all 0.5s ease-in-out;
    }

    .upgrade-button button:hover {
        cursor: pointer;
        background-color: #1ed760;
        color: black;
    }

    aside {
        background-color: black;
        position: fixed;
        left: 0;
        top: 53px;
        color: lightgrey;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: calc(100% - 113px);
        width: 50px;
        padding: 15px 0;
        z-index: 99;
    }

    nav .nav-macro {
        color: lightgray;
        list-style: none;
        text-transform: capitalize;
        width: 50px;
    }

    nav .nav-macro small {
        display: none;
    }

    nav .nav-macro li {
        text-align: center;
        padding: 10px 0 0 0;
    }

    nav .nav-macro li:hover {
        border-left: 2px solid #1ed760;
        color: white;
    }

    nav .nav-macro i {
        width: inherit;
        height: inherit;
        font-size: 18px;
    }

    .playlist {
        display: none;
    }

    .installapp-nav:hover {
        color: white;
        cursor: pointer;
    }

    .installapp-nav {
        text-align: center;
        margin: 0 auto;
        width: 80%;
        border-bottom: 1px solid lightgrey;
        padding: 10px 0 10px 0;
    }

    .installapp-nav i {
        font-size: 18px;
        margin-right: 0;
    }

    .installapp-nav small {
        display: none;
    }

    .user {
        cursor: pointer;
        color: white;
        width: 80%;
        padding: 20px 0 0 17px;
    }

    .user i {
        font-size: 18px;
    }

    .user small {
        display: none;
    }

    .player {
        height: 60px;
        width: 100%;
        position: fixed;
        bottom: 0;
        background-color: #282828;
        display: flex;
        justify-content: space-between;
        z-index: 9999;
    }

    .player-left {
        display: flex;
        align-items: center;
        flex: 0 0 100px;
        flex-wrap: wrap;
        padding-left: 0;
    }

    .player-left .img-song img {
        height: 100%;
        width: 30px;
    }

    .title-song {
        font-size: 10px;
        padding-left: 10px;
        text-transform: capitalize;
        width: 50px;
    }

    .ico-left {
        margin-left: 5px;
    }

    .ico-left i {
        font-size: 10px;
        display: block;
        margin-left: 0px;
        color: #787878;
    }

    .player-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 0 175px;
    }

    .interaction-player {
        width: 100%;
        color: white;
        margin-bottom: 5px;
    }

    .interaction-player  i {
        cursor: pointer;
        margin: 5px;
        font-size: 15px;
    }
    .interaction-player i:hover {
        color: rgba(255, 255, 255, 0.5);
    }

    .interaction-player button i,.fa-pause{
        font-size: 20px;
    }

    .interaction-player button {
        font-size: 30px;
        color: white;
        background-color: transparent;
        border: 0;
    }

    .interaction-player button:focus {
        outline: 0;
    }

    .row-player {
        text-align: center;
        width: 100%;
    }

    .row-player span {
        font-size: 10px;
        padding: 0 10px;
        color: white;
    }

    .progressive-bar-player {
        display: inline-block;
        background-color: #5a5a5a;
        width: 49%;
        height: 5px;
        margin: 0;
        border-radius: 5px;
    }

    .player-right {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 100px;
    }

    .player-right i {
        font-size: 10px;
        cursor: pointer;
        color: white;
        padding: 0 5px;
    }

    .player-right span {
        display: inline-block;
        content: "";
        background-color: #5a5a5a;
        width: 20%;
        height: 5px;
        border-radius: 5px;
        margin-right: 10px;
    }


    .main-screen {
        overflow-y: scroll;
        position: fixed;
        right: 0;
        top: 53px;
        width: calc(100% - 50px );
        height: calc(100% - 113px);
        background: rgb(30,215,96);
        background: linear-gradient(180deg, rgba(30,215,96,1) 0%, rgba(42,159,84,1) 50%, rgba(30,30,33,1) 100%);
    }

    .category-main ul a {
        font-size: 7px;
        font-weight: bold;
        text-transform: uppercase;
        color: #f8f8f8;
        text-decoration: none;
    }

    .category-main ul a li {
        width: calc(100% / 4);
        text-align: center;
        padding: 8px;
        margin-top: 5px;
    }

    .created-for-you {
        width: 100%;
        margin: 10px 0;
    }

    .created-for-you h2 {
        margin: 20px 0;
        font-weight: bold;
        font-size: 20px;
    }

    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 45px;
        left: 0;
        display: none;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 200px;
    }

    .song {
        width: calc(100% / 2);
        overflow: hidden;
    }

    .song img {
        border-radius: 200px;
    }

    .album {
        width: calc(100% / 2);
        overflow: hidden;
    }

    .album img {
        float: left;
        width: 50%;
    }

    .titolo {
        width: 100%;
        display: inline-block;
        text-transform: capitalize;
        font-size: 10px;
        font-weight: bold;
        margin-top: 10px;
        padding: 10px;
        text-align: center;
    }
}

/* END PHONES */

/* TABLETS */

@media all and (min-width: 769px) and (max-width: 992px ) {
    .installapp-nav {
        width: 100%;
        border-bottom: 1px solid lightgrey;
        padding: 10px 0 10px 20px;
    }

    .category-main ul a li {
        width: calc(100% / 3);
        text-align: center;
        float: left;
        padding: 20px;
        margin-top: 5px;
    }

    /* .created-for-you {
        width: 100%;
        margin: 0 auto;
    } */

    .song {
        width: calc(100% / 2);
        overflow: hidden;
    }

    .song img {
        border-radius: 130px;
    }

    .album {
        width: calc(100% / 2);
        overflow: hidden;
    }

    .overlay {
        border-radius: 130px;
    }

    .player {
        height: 134px;
    }

    .player-left {
        display: flex;
        align-items: center;
        flex: 0 0 100px;
        padding-left: 0;
    }

    .player-left .img-song img {
        height: 100%;
        width: 100px;
    }

    .title-song {
        font-size: 15px;
        width: 100px;
    }

    .ico-left {
        margin-left: 5px;
    }

    .ico-left i {
        font-size: 15px;
    }

    .player-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 0 175px;
    }

    .interaction-player {
        width: inherit;
        color: white;
        margin-bottom: 5px;
    }

    .interaction-player  i {
        cursor: pointer;
        margin: 10px;
        font-size: 20px;
    }
    .interaction-player i:hover {
        color: rgba(255, 255, 255, 0.5);
    }

    .interaction-player button i,.fa-pause{
        font-size: 25px;
    }

    .interaction-player button {
        font-size: 30px;
        color: white;
        background-color: transparent;
        border: 0;
    }

    .interaction-player button:focus {
        outline: 0;
    }

    .row-player {
        text-align: center;
        width: 100%;
    }

    .row-player span {
        font-size: 10px;
        padding: 0 10px;
        color: white;
    }

    .progressive-bar-player {
        display: inline-block;
        background-color: #5a5a5a;
        width: 49%;
        height: 5px;
        margin: 0;
        border-radius: 5px;
    }

    .player-right {
        display: flex;
        align-items: center;
        flex: 0 0 230px;
        justify-content: center;
    }
    .player-right i {
        font-size: 15px;
    }

    .player-right span {
        display: inline-block;
        content: "";
        background-color: #5a5a5a;
        width: 20%;
        height: 5px;
        border-radius: 5px;
        margin-right: 10px;
    }
}

/* END TABLET */

/* MD DESKTOP */

@media all and (min-width: 993px) and (max-width: 1199px) {
    .category-main ul a {
        font-size: 12px;
    }

    .created-for-you {
        width: 100%;
    }

    .song {
        width: calc(100% / 4);
        overflow: hidden;
    }

    .album {
        width: calc(100% / 4);
        overflow: hidden;
    }

    .player {
        height: 134px;
    }

    .player-left {
        display: flex;
        align-items: center;
        flex: 0 0 100px;
        padding-left: 0;
    }

    .player-left .img-song img {
        height: 100%;
        width: 100px;
    }

    .title-song {
        font-size: 15px;
        width: 100px;
    }

    .ico-left {
        margin-left: 5px;
    }

    .ico-left i {
        font-size: 15px;
    }

    .player-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 0 175px;
    }

    .interaction-player {
        width: inherit;
        color: white;
        margin-bottom: 5px;
    }

    .interaction-player  i {
        cursor: pointer;
        margin: 10px;
        font-size: 20px;
    }
    .interaction-player i:hover {
        color: rgba(255, 255, 255, 0.5);
    }

    .interaction-player button i,.fa-pause{
        font-size: 25px;
    }

    .interaction-player button {
        font-size: 30px;
        color: white;
        background-color: transparent;
        border: 0;
    }

    .interaction-player button:focus {
        outline: 0;
    }

    .interaction-player  i {
        cursor: pointer;
        margin: 10px;
        font-size: 20px;
    }
    .interaction-player i:hover {
        color: rgba(255, 255, 255, 0.5);
    }

    .interaction-player button i,.fa-pause{
        font-size: 25px;
    }

    .interaction-player button {
        font-size: 30px;
        color: white;
        background-color: transparent;
        border: 0;
    }

    .interaction-player button:focus {
        outline: 0;
    }

    .row-player {
        text-align: center;
        width: 100%;
    }

    .row-player span {
        font-size: 10px;
        padding: 0 10px;
        color: white;
    }

    .progressive-bar-player {
        display: inline-block;
        background-color: #5a5a5a;
        width: 49%;
        height: 5px;
        margin: 0;
        border-radius: 5px;
    }

    .player-right {
        display: flex;
        align-items: center;
        flex: 0 0 230px;
        justify-content: center;
    }
    .player-right i {
        font-size: 15px;
    }

    .player-right span {
        display: inline-block;
        content: "";
        background-color: #5a5a5a;
        width: 20%;
        height: 5px;
        border-radius: 5px;
        margin-right: 10px;
    }

}

/* END MD DESKTOP */



/* FINE MEDIA QUERY */
